body{
    font-family: D-DIN-PRO;
    font-size: 18px;
    color: rgb(31, 7, 59);
}

.marker{
    background-color: tomato;
}

.navbar-item{
    font-size: 14px;
    color: rgb(31, 7, 59);
    font-weight: 600;
    padding-right: 50px;
    text-align: center;
}

.navbar-item:hover{
    color: gray;
}

.button-purple{
    background-color: rgb(97, 49, 180);
    border: 0px solid rgb(97, 49, 180);
    border-radius: 5px;
    padding: 16px 30px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    width: fit-content;
}

.button-purple:hover{
    background-color: rgb(69, 33, 133);
    transition: 0.3s;
    color: white;
}

.button-outline-purple{
    background-color: transparent;
    border: 2px solid rgb(97, 49, 180);
    border-radius: 4px;
    padding: 8px 20px;
    color: rgb(97, 49, 180);
    font-weight: 500;
    font-size: 14px;
}

.button-outline-purple:hover{
    background-color: rgb(97, 49, 180);
    color: white;
    transition: 0.3s;
}

.col-5 {
    margin-right: 50px;
}

.home-figure{
    padding-top: 90px;
    padding-left: 50px
}

.center-items{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

h1{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 0;
}

.margin-home{
    padding-bottom: 30px;
}

.card{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(51, 0, 102);
}

.row{
    margin-bottom: 12%;
}

a{
    text-decoration: none;
}